[Unit]
Description=Django Local Server
After=multi-user.target

[Service]
User=root
WorkingDirectory=/root/crash_bandicoot/api.localgovai/scripts/
ExecStart=/bin/bash ./server.sh
Type=simple

[Install]
WantedBy=multi-user.target